.card-image {
    height: 300px;
    width: 100%; 
    object-fit: contain;
  }
  
  .mdb-card {
    border-radius: 10px; 
  }
  
  .mdb-card-body {
    padding: 20px; 
  }
  
  .text-center {
    text-align: center; 
  }
  